.settings {
	background-color: rgb(223, 230, 238);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5% 5%;
	width: 90%;
	box-sizing: border-box;
	margin: 0 auto;

	.head {
		display: flex;
		justify-content: space-between;
	}

	.slider-main-container {
		overflow: hidden;
		transition: max-height 1s ease;

		.slider-container {
			margin-bottom: 5%;

			#settings-header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				height: auto;
				background-color: transparent;
			}

			.slider {
				-webkit-appearance: none;
				margin-top: 20px;
				width: 99%;
				height: 10px;
				border-radius: 5px;
				background-color: #d3d3d3;
				outline: none;

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: white;
					cursor: pointer;
					box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
				}

				&::-moz-range-thumb {
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: white;
					cursor: pointer;
				}
			}
		}
	}
}
