/*=========================
  Variables   			  =
==========================*/
$white 			: #FFFFFF;
$black			: #000000;
$primaryColor 	: #1D252D;
$secondaryColor : #DF462B;

$primaryFont 	: Poly, sans-serif;
$secondaryFont  : Raleway, sans-serif;

/*=========================
  GLOBAL	   			  =
==========================*/
html{
	scroll-behavior: smooth;
}

html,body, #root{height:100%;}

section{position: relative;}

.button{
	border:2px solid;
	padding:8px 20px;
}

.line-white-short{
	height:3px;
	width:40px;
	background-color: $white;
}

/*=========================
  HOME 		  			  =
==========================*/
.app-container{
	height:100%;
	overflow-x:hidden;
}

#canvas-container{
	position: absolute;
	top:0;
	left:0;
	height:100vh;

    canvas{
        width:100%;
        height:100%;
    }
}

#home{
	background-color: $primaryColor;
	display: flex;
	height: calc(100vh + 59px);
}

.flex-container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	height:100vh;
	z-index: 1;

	.welcome-text{
		color : $white;
		text-align:center;
		font-size: 32pt;
		font-family: $primaryFont;
		line-height: 40pt;
		margin-bottom: 17px;

		span{color:$secondaryColor;}
	}

	.home-button{
		color: $white;
		font-size:22pt;
		font-family: $primaryFont;
		font-style: normal;
		font-weight: 300;
		cursor: pointer;
		transition: 0.5s ease;
		&:hover{
			border-color: $secondaryColor;
			transition: 0.5s ease;
			background-color: $secondaryColor;

			.arrow-right{
				transition: 0.5s ease;
				transform: rotate(90deg);
			}
		}

		.arrow-right{
			display: inline-block;
			font-size: 16pt;
			margin-left:10px;
			transition: 0.5s ease;
			&::before{
				content: '\279C' 
			}
		}
	}
}

/*=========================
  HEADER 	  			  =
==========================*/
.header-container{
    width:100%;
    height:60px;
    position:absolute;
    bottom:0;
}

@keyframes animtateDown{
	0%{
		transform : translateY(-50px);
	}
}

header{
	position:absolute;
	bottom:0;
	width:100%;
	background-color: $primaryColor;
	z-index: 2;
    height:60px;

  	nav{
		border-bottom:4px solid #ff7e58;
		display:flex;
		justify-content: center;

		ul{
			list-style-type: none;
			display:flex;
			width:80%;
			justify-content: space-evenly;

			li{
				color: $white;
				font-family: $secondaryFont;
				display: inline-block;
				padding:20px 20px;

				#logo{
					width:40px;
					height:40px;

					img{
						width:100%;
						height:100%;
					}
				}

				&:nth-child(3){
					padding:10px 20px;
				}
			}
	
			.active{
				color : $secondaryColor;
			}

            .nav-icon{
                display:none;
            }
		}
	}
}

.fixed{
    position: fixed;
    width:100%;
    top:0;
    animation : animtateDown .5s;
}

/*=========================
  ABOUT 	  			  =
==========================*/
#about{
	height: 90vh;

	.about-container{
		justify-content: space-around;
		display:flex;
		flex-direction: row;
		height:90vh;

		.about-left-container{
			width:40%;
			height:50%;
			border-right:1px solid $primaryColor;

			.title{
				font-family:$secondaryFont;
				font-weight:bolder;
				font-size:50pt;
				color:$primaryColor;
			}

			.short-description{
				margin-top:15px;
				width:66%;
				font-family:$secondaryFont;
				font-weight:lighter;
			}

			.icon-container{
				margin-top:25px;
				display:flex;
				flex-direction: row;
				width:18%;
				justify-content: space-between;
				
				.icon{
					cursor: pointer;

					svg, svg path{
						transition:fill 0.1s ease;
						fill:rgba(0,0,0,0.6);
					}

					&:hover svg{
						fill:$black;
					}
					
					&:hover svg path{
						fill:$black;
					}
				}
			}

			.about-button{
				width:30%;
				text-align: center;
				background-color: #FC7A5D;
				border:none;
				font-family: $primaryFont;
				font-size:16pt;
				color:$white;
				border-radius:5px;
				padding:17px 32px;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
				margin-top:30px;
				cursor: pointer;
				transition:all 0.3s ease;

				&:hover{
					background-color: #ff5f3b;
				}
			}
		}

		.about-right-container{
			width:30%;
			height:50%;

			.title{
				font-family:$secondaryFont;
				font-weight:bolder;
				font-size:50pt;
				color:$primaryColor;
			}

			.skills-container{
				width:80%;
				border-bottom:1px solid $primaryColor;
				

				.skill-title{
					font-family:$secondaryFont;
					font-weight:bold;
					font-size:16pt;
					color:$primaryColor;
					margin-top:15px;


				}
				
				.skill{
					font-family:$secondaryFont;
					font-weight:normal;
					font-size:10pt;
					color:$black;
					margin-top:2px;
					margin-bottom:15px;
				}
				
				&:last-child{
					border:none;
				}

				&:nth-child(2){
					margin-top:-3px;
				}
			}

		}
	}
}



/*=========================
  PORTFOLIO               =
==========================*/
#portfolio{
    height:80vh;
    background-color: $primaryColor;

    .portfolio-container{
    	display:flex;
    	justify-content: flex-start;
    	flex-direction: column;
    	align-items: flex-start;

    	.title{
    		font-family:$secondaryFont;
    		font-weight:bolder;
    		font-size:30pt;
    		color:$white;
    		margin-top:100px;
    	}

    	.line-white-short{
    		margin-top:20px;
    	}

    	.portfolio-item{
    		margin-top:30px;
    		display:flex;
    		flex-direction: row;
    		justify-content: space-between;
    		width:100%;

    		.item-image-container{
    			width:400px;
    			height:220px;
    			box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.2);
    			border-radius: 20px;
    			opacity: 0.6;
    			transition:opacity 0.3s ease;
    			cursor: pointer;

    			&:hover{
    				opacity:1;
    			}

    			img{
    				width:100%;
    				height:100%;
    				border-radius: 20px;
    			}
    		}

    		.item-details{
    			display:flex;
    			flex-direction: column;
				width:50%;
				color:$white;
				font-family:$secondaryFont;
				justify-content: space-evenly;

				.item-title{
					font-weight:bold;
					font-size:20pt;
				}

				.item-description{
					width:80%;
					margin-top:20px;
					font-weight:lighter;
					font-size:11pt;
					line-height: 14pt;
				}

				.button-container{
					display:flex;
					flex-direction: row;
					justify-content: space-between;
					width:50%;
					margin-top:30px;
					
					a{
						text-decoration: none;
					}

					.sourceCode-button, .preview-button{
						border:none;
						padding:13px 23px;
						border-radius:10px;
						color:$black;
						font-size:11pt;
						cursor: pointer;
						transition:all 0.4s ease;
					}

					.sourceCode-button{
						background-color: #FFFFC5;

						&:hover{
							background-color: #ffff5f;
						}
					}

					.preview-button{
						background-color: #44DA57;

						&:hover{
							background-color: #00ff20;
						}
					}
				}
    		}
    	}
    }
}



/*=========================
  CONTACT                 =
==========================*/
#contact{
    height:100vh;
   	background-image: linear-gradient($primaryColor 30%, #72777C);

	.contact-container{
		flex-direction: column;
		justify-content: flex-start;
		font-family: $secondaryFont;
		color:$white;

		.title{
			font-weight:bolder;
			font-size:30pt;
			margin-top:100px;
		}

		.line-white-short{
    		margin-top:20px;
    	}

    	.text{
    		color:$secondaryColor;
    		margin-top:20px;
    	}
		
		.field-name{
			margin-top:20px;
			font-weight: lighter;

		}
		
		.form-container{
			width:41%;

	    	.form-start-container{
	    		display:flex;
	    		flex-direction: row;
	    		justify-content:space-between;
	    		margin-top:15px;
	    		width:100%;

	    		input{
	    			background-color: transparent;
	    			border:1.5px solid $white;
	    			padding:10px 10px;
	    			color:$white;
	    			font-family: $secondaryFont;
	    			font-size:15pt;
	    			margin-top:12px;
	    			width:90%;
	    		}
	    	}

	    	textarea{
	    		background-color:transparent;
	    		border:1.5px solid $white;
	    		padding:10px;
	    		color:$white;
	    		font-family:$secondaryFont;
	    		font-size:15pt;
	    		margin-top:12px;
	    		resize:none;
	    	}

	    	.submit-button{
	    		border:none;
	    		background-color: #FC7A5D;
	    		border-radius:10px;
	    		padding:13px 20px;
	    		width:30%;
	    		margin:25px auto 0 auto;
	    		text-align: center;
	    		font-weight:bold;
				cursor: pointer;
	    	}
		}
	}
}
/*=========================
  FOOTER				  =
==========================*/
#footer{
	height:60px;
	background-color: $primaryColor;
	display:flex;
	flex-direction: column;
	justify-content: center;

	span{
		color:#FF6F4F;
		font-family:$secondaryFont;
		font-size: 15pt;
		margin-left:50px;
	}
}


/*=========================
  MEDIA QUERIES			  =
==========================*/

@media only screen and (min-width: 320px) and (max-width: 426px){
	
	#home{
		height: calc(100vh + 1px);
	}
 
	.sub-title{
		font-size: 20pt;
		font-weight: bold;
		font-family: $secondaryFont;
		margin-top: 20px;
	}

	.sub-title-underline{
		width:50px;
		height:2.5px;
		background-color: black;
	}
	/*=====================
	=  HEADER 		  	  =
	=====================*/
	header{
		position: fixed;
		bottom:0;
		width:100%;
		text-align: center;
		background-color: white;


		nav{
			border-top:1px solid #DEDEDE;
			border-bottom:none;
			
			ul{
				display:flex;
				flex-direction: row;
				justify-content: space-evenly;

				li{
					color : #7D7D7D;
					font-size:10pt;
					padding:14px 10px;
				}
				
				.nav-icon{
					display:block;
					margin: 0 auto 3px auto;
					fill : #CECECE;
				}

				.active{
					color : $black;

					.nav-icon{
                        fill : $black;                   
					}
				}
			}
		}
	}

	/*=====================
	=  HOME 		  	  =
	=====================*/
	.flex-container{
		.welcome-text{
			font-size: 18pt;
			line-height: 22pt;
		}

		.home-button{
			font-size: 15pt;
		}
	}

	/*=====================
	=  ABOUT 		  	  =
	=====================*/

}

/*=========================
  FONT-FACE   			  =
==========================*/

@font-face{
	font-family: Poly;
	src: url(../Fonts/Poly-Regular.otf);
}

@font-face{
	font-family: Grenze;
	src: url(../Fonts/Grenze-Regular.ttf);
}

@font-face{
	font-family: Lora;
	src: url(../Fonts/Lora-Regular.otf);
}

@font-face{
	font-family: Raleway;
	font-weight: normal;
	src: url(../Fonts/Raleway-Regular.ttf);
}

@font-face{
	font-family: Raleway;
	font-weight: bold;
	src: url(../Fonts/Raleway-SemiBold.ttf);
}

@font-face{
	font-family: Raleway;
	font-weight: bolder;
	src: url(../Fonts/Raleway-ExtraBold.ttf);
}

@font-face{
	font-family: Raleway;
	font-weight: lighter;
	src: url(../Fonts/Raleway-Light.ttf);
}

@font-face{
	font-family: helvetica;
	font-weight: normal;
	src: url(../Fonts/Helvetica.ttf);
}




/************************************************************/

